* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --firstMainColor: #02a3f1;
  --secondMainColor: #7fba00;
  --thirdMainColor: #f25123;
  --firstFontColor: white;
  --secondFontColorBlack: rgba(0, 0, 0, 0.5);
  --secondFontColorWhite: rgba(255, 255, 255, 0.5);
  --mainPadding: 70px;
}

::-webkit-scrollbar {
  width: 0px;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

/* start navigation bar style */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--mainPadding);
}

nav .navigations .navigations-items {
  color: var(--firstFontColor);
}

nav .navigations {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigations-items ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

.navigations-items ul li:hover {
  color: var(--thirdMainColor);
}

.navigations-items ul {
  display: flex;
  gap: 20px;
}

nav .login button {
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 30px;
  background-color: white;
  font-weight: 600;
}

nav .login svg {
  fill: white;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  nav .navigations .navigations-items {
    display: none;
  }
  nav .login button {
    display: none;
  }

  nav .login svg {
    display: block;
  }
}
/* end navigation bar style */

/* start menu section style */
.menu {
  position: fixed;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background_blur.png");
  background-size: cover;
  padding: 30px;
  transition: all 0.5s linear;
}

.menu .bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu .bar .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu .bar .logo .logoImage img {
  width: 60px;
}

.menu .bar .logo .logoInfo h1 {
  color: var(--firstFontColor);
  font-size: 16px;
}

.menu .bar .logo .logoInfo p {
  color: var(--secondFontColorWhite);
  font-size: 12px;
}

.menu .bar .close svg {
  fill: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu section ul li {
  list-style: none;
  font-size: 30px;
  color: var(--firstFontColor);
  margin-bottom: 20px;
  cursor: pointer;
}

.menu section ul li:hover {
  color: var(--thirdMainColor);
}

.menu section .login {
  color: var(--thirdMainColor);
  border-top: 5px solid var(--thirdMainColor);
  width: fit-content;
  width: 70%;
  font-size: 30px;
  padding-top: 20px;
  cursor: pointer;
}
/* end menu section style */

/* start footer style */
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-image: url("../images/background_blur.png");
  background-size: cover;
  color: white;
  padding: var(--mainPadding);
}

/* start first section style */

footer > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer > div:first-child .logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

footer > div:first-child .logo p {
  color: var(--secondFontColorWhite);
}

footer > div:first-child > p {
  color: var(--secondFontColorWhite);
  width: 70%;
}
footer > div:first-child button {
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  font-size: 17px;
}

footer > div:first-child button svg {
  width: 30px;
  height: 30px;
  fill: var(--secondFontColorWhite);
}

footer > div:first-child .social-media {
  display: flex;
  gap: 10px;
}

footer > div:first-child .social-media div {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

footer > div:first-child .social-media div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* end first section style */

/* start second section style */
footer > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}

footer > div:nth-child(2) > div:first-child,
footer > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer > div:nth-child(2) > div:first-child ul,
footer > div:nth-child(2) > div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer > div:nth-child(2) > div:first-child ul li,
footer > div:nth-child(2) > div:nth-child(2) ul li {
  list-style: none;
  font-size: 20px;
  white-space: nowrap;
  color: var(--secondFontColorWhite);
  cursor: pointer;
}

footer > div:nth-child(2) > div:first-child ul li:hover,
footer > div:nth-child(2) > div:nth-child(2) ul li:hover {
  color: white;
}
/* end second section style */

/* start third section style */
footer > div:nth-child(3) h2 {
  border-bottom: 3px solid var(--thirdMainColor);
  padding: 15px 0;
  margin-bottom: 30px;
}

footer > div:nth-child(3) ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer > div:nth-child(3) ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
}

footer > div:nth-child(3) ul li p {
  color: var(--secondFontColorWhite);
}

footer > div:nth-child(3) ul li p:hover {
  color: white;
}
/* end third section style */
/* end footer style */

@media (max-width: 800px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  footer > div:nth-child(2) {
    justify-content: space-between;
  }
  footer > div:nth-child(2) > div:first-child,
  footer > div:nth-child(2) > div:nth-child(2) {
    gap: 40px;
  }
}
