.services {
  padding: var(--mainPadding);
}

/* start header style */
.services header {
  margin-bottom: 40px;
}

.services header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services header h1 {
  font-size: 60px;
  color: var(--thirdMainColor);
}

.services header p {
  font-size: 32px;
  color: var(--secondFontColorBlack);
  width: 80%;
}

.services header button {
  padding: 8px 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--thirdMainColor);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 20px;
}

.services header button svg {
  width: 25px;
  height: 25px;
}
/* end header style */

/* start main style */
.services main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.services main > div {
  box-shadow: 0px 20px 20px 0px rgb(0, 0, 0, 25%);
  border: 1px solid rgb(0, 0, 0, 25%);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.services main > div:hover {
    border-color: var(--thirdMainColor);
    box-shadow: none;
}

.services main div .image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.services main div:first-child .image {
  border: 5px solid var(--firstMainColor);
  background-image: url("../images/people/pexels-lola-russian-1855582.jpg");
}

.services main div:nth-child(2) .image {
  border: 5px solid var(--secondMainColor);
  background-image: url("../images/people/pexels-marcio-bordin-1840608\ \(1\).jpg");
}

.services main div:nth-child(3) .image {
  border: 5px solid black;
  background-image: url("../images/people/pexels-mateus-souza-3586798\ \(1\).jpg");
}

.services main div:nth-child(4) .image {
  border: 5px solid var(--thirdMainColor);
  background-image: url("../images/people/pexels-radu-florin-2506897.jpg");
}

.services main div:nth-child(5) .image {
  border: 5px solid var(--firstMainColor);
  background-image: url("../images/people/pexels-rein-krijgsman-3139612.jpg");
}

.services main div:nth-child(6) .image {
  border: 5px solid var(--secondMainColor);
  background-image: url("../images/people/pexels-steshka-willems-1806905.jpg");
}

.services main div h3 {
  font-weight: 900;
}

.services main div p {
  color: var(--secondFontColorBlack);
}

.services main div button {
  padding: 0 20px;
  border-radius: 30px;
  border: 1px solid rgb(0, 0, 0, 25%);
  background-color: transparent;
  color: var(--thirdMainColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services main div button svg {
  fill: var(--secondFontColorBlack);
  width: 30px;
  height: 30px;
}
/* end main style */

@media (max-width: 635px) {
  .services header h1 {
    font-size: 45px;
  }

  .services header p {
    font-size: 22px;
    width: 100%;
  }

  .services main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .services {
    background-color: black;
  }
  .services header .header-container {
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .services header h1 {
    font-size: 25px;
  }

  .services header p {
    font-size: 12px;
    width: 100%;
    color: var(--secondFontColorWhite);
  }

  .services header .header-container button {
    padding: 5px 20px;
  }

  .services main {
    grid-template-columns: repeat(1, 1fr);
  }

  .services main div {
    border-color: rgb(255, 255, 255, 25%);
  }

  .services main div h3 {
    color: var(--firstFontColor);
  }
  
  .services main div p {
    color: var(--secondFontColorWhite);
  }

  .services main div:nth-child(3) .image {
    border-color: white;
  }

  .services main div button {
    border-color: rgb(255, 255, 255, 25%);
  }
  
  .services main div button svg {
    fill: var(--secondFontColorWhite);
  }
}
